# Git
.git
.gitignore

# IDE 설정 파일
.idea
*.iml
*.ipr
*.iws

# VS Code
.vscode

# Build output
build/*
!build/libs/
!build/libs/*.jar

# OS 및 임시 파일
*.DS_Store
*.log
*.tmp
*.bak
*.swp

# Docker 관련
docker-compose.override.yml
.dockerignore

# IntelliJ 캐시
*.class

# 인증 및 민감 정보
*.pem
*.key
*.crt
*.env
*.jks
*.p12
*.der

# Firebase 키
src/main/resources/firebase/firebase-service-account.json

# Spring 설정 파일
#src/main/resources/application.yml
application-local.yml
application-dev.yml
application-prod.yml
#application.yml

# Local key 폴더
src/main/resources/keys/

# Grafana/Prometheus etc
grafana-data/
prometheus-data/
alertmanager-data/
grafana/
prometheus/
alertmanager/