HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 환경 설정 및 비밀 키
*.env
*.key
*.pem
*.crt
*.jks

# Firebase 키 파일
src/main/resources/firebase/firebase-service-account.json

# 기타
*.bak
*.swp
*.tmp

application-local.yml
application-dev.yml
application-prod.yml

.DS_Store

src/main/resources/keys/
!src/main/resources/keys/README.md  # 폴더 유지용

logs/
*.log