HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 환경 설정 및 비밀 키
*.env
*.key
*.pem
*.crt
*.jks

# Firebase 키 파일
src/main/resources/firebase/firebase-service-account.json

# 기타
*.bak
*.swp
*.tmp

src/main/resources/application.yml

application-local.yml
application-dev.yml
application-prod.yml
application.yml

.DS_Store

src/main/resources/keys/
!src/main/resources/keys/README.md  # 폴더 유지용

logs/
*.log

# Prometheus
/prometheus/data/
prometheus.yml.bak
*.tsdb
*.prom
!prometheus/prometheus.yml

# Grafana
/grafana
grafana/
grafana-data/
grafana.db
grafana.ini
grafana-provisioning/
grafana-dashboards/
grafana-dashboards/*.json

# Alertmanager
secrets/
alertmanager-data/
alertmanager.yml
alertmanager.yml.bak
alertmanager/

# Node Exporter
node_exporter.log

#Redis
/redis-data

# 기타 모니터링 툴
*.rdb
*.data
*.snapshot

# k6 WAL / Grafana Agent 데이터
grafana-agent/data/
# IDE, log 등
.idea/
logs/