<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="garabu.garabuServer.mapper.LedgerMapper">

    <!-- ========== 검색 결과 총 건수 ========== -->
    <select id="countSearchLedgers" parameterType="LedgerSearchCondition" resultType="long">
        SELECT COUNT(*)
        FROM Ledger l
        WHERE l.title_id = #{c.bookId}
        <if test="c.startDate != null">
            AND l.date &gt;= #{c.startDate}
        </if>
        <if test="c.endDate != null">
            AND l.date &lt;= #{c.endDate}
        </if>
        <if test="c.amountType != null">
            AND l.amount_type = #{c.amountType}
        </if>
        <if test="c.category != null and c.category != ''">
            AND l.category = #{c.category}
        </if>
        <if test="c.payment != null and c.payment != ''">
            AND l.payment_method = #{c.payment}
        </if>
    </select>

    <!-- ========== 검색 조회 ========== -->
    <select id="searchLedgers" parameterType="map" resultType="garabu.garabuServer.domain.Ledger">
        SELECT
        l.ledger_id as id, l.date, l.amount, l.description, l.memo,
        l.amount_type as amountType, l.spender,
        l.title_id, l.member_id, l.category_id, l.payment_id
        FROM Ledger l
        WHERE l.title_id = #{c.bookId}
        <if test="c.startDate != null">
            AND l.date &gt;= #{c.startDate}
        </if>
        <if test="c.endDate != null">
            AND l.date &lt;= #{c.endDate}
        </if>
        <if test="c.amountType != null">
            AND l.amount_type = #{c.amountType}
        </if>
        <if test="c.category != null and c.category != ''">
            AND l.category = #{c.category}
        </if>
        <if test="c.payment != null and c.payment != ''">
            AND l.payment_method = #{c.payment}
        </if>
        <!-- 정렬 (컨트롤러에서 pageable.getSort() 파싱) -->
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
